# Define the URLs and ports for the ASP.NET Core web host
# e.g. http://*:8080
ASPNETCORE_URLS="http://*:<port>;http://localhost:<port>"

# Set the application hosting environment
# e.g. Development, Production
DOTNET_ENVIRONMENT="<environment>"

# Connection string for CockroachDB (Distributed SQL)
# e.g. postgresql://root:password@localhost:26257/netnol_db?sslmode=disable
DATABASE_URL="postgresql://<username>:<password>@<host>:<port>/<database>?<options>"

# Connection string for Redis caching
# e.g. localhost:6379,password=secret_password,ssl=False,abortConnect=False
CACHE_URL="<host>:<port>,<options>"
